---
// Component Imports
import BaseHead from "../components/BaseHead.astro";
import Profile from "../components/home/Profile.astro";
import ContactList from "../components/home/ContactList.astro";

interface MarkdownFrontmatter {
    publishDate: number;
}

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "Helgesson.Dev";
let description = "The perfect starter for your perfect blog.";
let permalink = "https://helgesson.dev/";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en" theme="dark">
    <head>
        <!-- prettier-ignore  -->
        <BaseHead title={title} description={description} permalink={permalink} />
        <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />

        <style>
            .wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding-top: 2rem;
            }
        </style>
    </head>

    <body>
        <div class="wrapper">
            <Profile />
            <ContactList />
        </div>
    </body>
</html>
