<header>
    <h1><a href="/">Helgesson.Dev</a></h1>
</header>

<style>
    h1 {
        font-size: 1.75em;
        font-weight: bold;
        margin: 0;
        padding: 0;
        color: var(--theme-colors-secondary);
    }

    header {
        background: var(--theme-colors-background-contrast);
        padding: 0.5em;
    }
</style>