---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } =
    content;
---

<html lang={content.lang || "en"} theme="dark">
    <head>
        <!-- prettier-ignore  -->
        <BaseHead title={title} description={description} permalink={permalink} />
        <link rel="stylesheet" href={Astro.resolve("../styles/prism.css")} />
        <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />
        <link rel="stylesheet" href={Astro.resolve("../styles/blogPost.scss")}
        />
    </head>

    <body>
        <Header
            title={"Post"}
            paths={[
                {
                    name: "Posts",
                    path: "/posts",
                },
                {
                    name: "Home",
                    path: "/",
                },
            ]}
        />
        <div class="wrapper">
            <main>
                <slot />
            </main>
        </div>
    </body>
</html>
